
<div class="container text-center product-section">
    <div class="row">
        <div class="col-md-6 text-center">
<img src="/images/mens_footwear_img/new_balance_360" alt="/" class="img-fluid main-img" id="mainImage" >
        </div>
    </div>
    <div class="thumb-container mt-3">
          <img src="/images/mens_footwear_img/nike_cour_low_vision2.webp" class="thumb">
        <img src="/images/mens_footwear_img/nike_cour_low_vision2.webp" class="thumb">
        <img src="/images/mens_footwear_img/nike jordan" class="thumb">
    </div>

<div class="col-md-6">
    <h2>New Balance 360</h2>
    <h4 class="text-success">$99.99</h4>
    <p>Comfortable running shoes for everyday use.</p>
    <button class="btn btn-dark w-100">Add to Cart</button>
</div>
</div>
